.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  background-color: "#fff";
  width: 600px;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 7px auto;
  border-radius: 5px;
}

textarea {
  resize: none;
}

@media screen and (max-width: 700px) {
  .contact__form {
    padding: 0;
  }
  .contact__form-input {
    width: 100%;
    padding: 10px 20px;
  }
}
